<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

<header id="header"></header>

<main>
    <header>
        <h1>첫번째 글</h1>
    </header>

    <aside>
        <p>Jno</p>
        <p><a rel="me" href="wnsdhqo@naver.com">wnsdhqo@naver.com</a></p>
        <p>
            <time datetime="2022-01-01T00:00:00">2022-01-01</time>
        </p>
        <p>#java</p>
    </aside>

    <section>
        <p>본문</p>

        <div>
            <form>
                <label for="articleComment" hidden></label>
                <textarea id="articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
                <button type="submit"></button>
            </form>
            <ul>
                <li>
                    <div>
                        <time>2022-01-01</time>
                        <strong>Juno</strong>
                        <p>
                            Hello World
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time>2022-01-01</time>
                        <strong>MinSeo</strong>
                        <p>
                            Hello
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time>2022-01-01</time>
                        <strong>SangSuk</strong>
                        <p>
                            World
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <nav>
            <a href="#">이전 글</a>
            <a href="#">다음 글</a>
        </nav>
    </section>
</main>
<footer id="footer"></footer>

</body>
</html>